{% extends 'base.html.twig' %}

{% block title %}All Categories{% endblock %}

{% block body %}
    <h1>Toutes les catégories </h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / {{ category.name }}</h2>
            <a href="{{ path('category_app_show', {categoryName : category.name}) }}">show program</a>
        </div>
    {% else %}
        Aucune Catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}